body {
  margin: 0;
  padding: 0px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  
}

img {
    border-radius: 30px;
    height: 288px;
    width: 220px;
}



.container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  background-color: #141a43;
}

.card {  
  background-color: rgb(153, 153, 153);
  width: 300px;
  height: auto;
  border-radius: 16px;
  padding: 15px;
  text-align: center;
  box-shadow: 25px 16px 11px -3px rgba(0,0,0,0.1);
  
}

.button {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  
}

.botao {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  text-decoration: none;
  color: rgb(125, 128, 137);
  font-weight: bold;
}



h1{
 font-size: 170%;
 font-family: 'Open Sans', sans-serif;

}

h2{
 font-size: 100%;
 color: rgb(0, 0, 0);

}




